body{
	background: fixed no-repeat url(https://images.unsplash.com/photo-1506642328232-1ea4d3b6ba6f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3f6516fdad9709738200ea5727d5cf6&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	width: 100%;
	height:100%;
	background-position:center;			
}
html{
	height:100%;
}

*{
	padding:0;
	margin:0;
	font-family: 'Voces', cursive;
	box-sizing:border-box;
	color:#ffeaeb;
}
p{
	font-size:1.4em;
}

*:hover{
	-webkit-transition-duration: 0.4s;  /*Safari*/
    transition-duration: 0.4s;
}

nav{
	width:100%;
	height:50px;
	background-color:#ff8084;
}
header{
	width:100%;
	height:200px;
	line-height:200px;
	border:1px solid #ffeaeb;
	border-radius:5px;
	text-align: center;
	margin:10px;
}
.mainhome{			/* Main container style in home page. */
	padding-top:30vh;
}
.mainsec{			/* Main container style in secondary pages. */
	padding:10px;
	display:flex;
	flex-wrap:wrap;
}
div.artist{			/* Container for text and images in pages like "Fund" or "Artists". */
	text-align:center;
	padding:10px;
	margin:10px;
	width:calc(33.33% - 20px);
	border:1px solid #ffeaeb;
	border-radius:5px;
}

div#first{			/* First part of the nav, with brand logo. */
	display:block;
	float:left;
	width:35%;
	height:100%;
	font-size: 1.5rem;
}

div#second{			/* Second part of the nav, with links to other pages. */
	display:block;
	float:left;
	width:65%;
	height:100%;
	font-size: 1.1rem;	
}

a{	
	display:block;				
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	text-decoration:none;
}
.dropdown{             		/* Secondary dropdowns. */          
	position:relative;
	z-index:100;
	background-color: #ffeaeb;
	color:#ea6266;
	border-radius: 5px;
	display:none;
}
.dropdown a{
	color:#ea6266;
}
.insecond{
	display:inline-block;
	float:left;
	width:25%;
}

div#first a:hover{
	font-size:1.45rem;
}
div#second a:hover{
	font-weight: bold;
	font-size:1.2rem;
}

a#brand{			/* Logo link style */
	float:left;
}

a#toggle{			/* Toggle button */
	display:none;
	float:left;
}

.title{				/* Home page Title */
	font-size:3.4em;
	margin:auto;
}

.subtitle{
	font-size:2em;
	padding-top:10px;	
}
.title, .subtitle{
	margin:auto;
	text-align: center;
}

hr{
	width:38em;
	margin:auto;
	margin-top:1em;
}

button {
    background-color: Transparent;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffeaeb;
    border-radius: 30px;
    color: #ffeaeb;
    display: block;
    font-size: 1.5em;
    margin: 1em auto;
    padding: 8px 30px;
}
button:hover{
    background-color: #ff8084;
}
button#signup:active, button#signup:focus{
	outline:none;
}

/* -------------------Forms' style-------------------------- */

input[type=text], input[type=password], input[type=email] {
	color:black;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius:5px;
    
    background-color:#ffeaeb;
}
input:hover{
	background-color:#ffeaeb;
}
input:focus{
	background-color:white;
}
form button {
	border-radius:5px;
	width:100%;
}
label{
	padding:10px;
	margin-top: 12px;
	display:block;
	box-sizing: border-box;
}

/* Additional style for all pages but homepage. (2)*/
.cont-cent{			/* Container of the flexible divs */
	width:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	flex-wrap:wrap;
	height: calc(100% - 50px);
}
div.centered{
	width: 35%;
	position:relative;
}
.signup{
	justify-content:space-around;
}

img.gallery{			/* Gallery image style. */
	display:inline-block;
	vertical-align:top;
	width:49%;
	padding:1vw;
	border-radius:1.5vw;
	text-align:top;
	height:auto;
}
/***********************************************(2)*/

::selection {
	background: blueviolet;
 /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blueviolet; /* Gecko Browsers */
}

/* Different screen size styles. */
/*********************************************************(3)*/

@media only screen and (max-width: 1024px) {
	div#first, div#second{
    	width:100%;
    }

    div#second{
    	display:none;
    	border-top: 1px solid #ffeaeb;
    	background-color:#ff8084;
    }

    a#brand{
		max-width:88%;
	}

    a#toggle{
    	display:block;
    	max-width:12%;   
 	}

	.mainhome{
    	padding-left:3vw;
    	padding-right:3vw;
    }
    hr{
    	min-width:34em;
		max-width: 90vw;
    }
    .title{
		font-size:3em;
	}
	.subtitle{
		font-size:1.8em;
		margin-top:5px;	
	}
	button#signup {
    	font-size: 1.5em;
    	margin: 20px auto;
    	padding: 5px 25px;
	}

	div.centered{
		width:50%;
	}

	.signupimg{
		display:none;
	}

	div.artist{
		width:calc(50% - 20px);
	}
}

@media only screen and (max-width: 650px) {
	.mainhome{			/* Main container style in home page. */
		padding-top:25vh;
		display:flex;
		flex-wrap:wrap;
	}

	a#brand{
		max-width:85%;
	}

    a#toggle{
    	display:block;
    	max-width:15%;   
 	}

	div#second{
		height:auto;
	}

	.insecond{
		width:100%;
		background-color:#ff8084;
	}

	p{			/* Font size in .artist and .centered */
		font-size:1.2em;
	}

	hr{
	   	max-width:80vw;
    	min-width: 90vw;
    }

    div#first{
    	font-size: 1.3rem;
    }
    div#first a:hover{
    	font-size:1.2rem;
    }

    .title{
		font-size:2.5em;
	}

	.subtitle{
		font-size:1.5em;
		margin-top:5px;	
	}

	button#signup {
    	font-size: 1.3em;
    	margin-top: 20px;
    	padding: 7px 20px;
	}

	div.centered{
		width:75%;
	}

	div.artist{
		width:calc(100% - 20px);
	}
}
/********************************************************(3)*/